@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to Admin Panel</h1>
    <p>Here you have the full access to the database of TechCatalog.</p>

</div>
