@model TabletBindingModel
@using TechCatalogAdminPanel.Models.Enums

<h1 class="text-center display-4">New Tablet</h1>
<br />
<hr />
<form asp-action="AddTablet" asp-controller="Device">
    <div class="container">
        <div class="row">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="col-sm form-group" align="center">
                <label asp-for="Brand" class="control-label"></label>
                <input asp-for="Brand" class="form-control" />
                <span asp-validation-for="Brand" class="text-danger"></span>
            </div>
            <div class="col-sm form-group" align="center">
                <label asp-for="DeviceModel" class="control-label">Model</label>
                <input asp-for="DeviceModel" class="form-control" />
                <span asp-validation-for="DeviceModel" class="text-danger"></span>
            </div>
            <div class="col-sm form-group" align="center">
                <label asp-for="Color" class="control-label"></label>
                <input asp-for="Color" class="form-control" />
                <span asp-validation-for="Color" class="text-danger"></span>
            </div>

            <div class="col-sm form-group" align="center">
                <label asp-for="Image" class="control-label"></label>
                <input asp-for="Image" class="form-control" />
                <span asp-validation-for="Image" class="text-danger"></span>
            </div>
            <div class="col-sm form-group" align="center">
                <label asp-for="Weight" class="control-label"></label>
                <input asp-for="Weight" class="form-control" />
                <span asp-validation-for="Weight" class="text-danger"></span>
            </div>


            <div class="col-sm form-group" align="center">
                <label asp-for="Warranty" class="control-label"></label>
                <input asp-for="Warranty" class="form-control" />
                <span asp-validation-for="Warranty" class="text-danger"></span>
            </div>

            <div class="col-sm form-group" align="center">
                <label asp-for="Price" class="control-label"></label>
                <input asp-for="Price" class="form-control" />
                <span asp-validation-for="Price" class="text-danger"></span>
            </div>
        </div>
    </div>

    <br />
    <hr />
    <h3 class="text-center">Other Specifications</h3>
    <br />
    <div align="center">
        <div class="col-md-3 form-group">
            <label asp-for="Ram" class="control-label">RAM</label>
            <select asp-for="Ram" class="form-control dropdown-toggle col-lg-12" asp-items="Html.GetEnumSelectList<Ram>()">
                <option selected="selected" value="">Please select</option>
            </select>
            <span asp-validation-for="Ram" class="text-danger"></span>
        </div>
        <div class="col-md-3 form-group">
            <label asp-for="Memory" class="control-label"></label>
            <input asp-for="Memory" class="form-control" />
            <span asp-validation-for="Memory" class="text-danger"></span>
        </div>
        <div class="col-md-3 form-group">
            <label asp-for="RearCameraResolution" class="control-label">Rear Camera Resolution</label>
            <input asp-for="RearCameraResolution" class="form-control" />
            <span asp-validation-for="RearCameraResolution" class="text-danger"></span>
        </div>
        <div class="col-md-3 form-group">
            <label asp-for="FrontCameraResolution" class="control-label">Front Camera Resolution</label>
            <input asp-for="FrontCameraResolution" class="form-control" />
            <span asp-validation-for="FrontCameraResolution" class="text-danger"></span>
        </div>
        <div class="col-md-3 form-group">
            <label asp-for="Processor" class="control-label">Processor (brand and model)</label>
            <input asp-for="Processor" class="form-control" />
            <span asp-validation-for="Processor" class="text-danger"></span>
        </div>

        <div class="col-md-3 form-group">
            <label asp-for="DisplayType" class="control-label">Display Type</label>
            <input asp-for="DisplayType" class="form-control" />
            <span asp-validation-for="DisplayType" class="text-danger"></span>
        </div>
        <div class="col-md-3 form-group">
            <label asp-for="DisplaySizeInch" class="control-label">Display Size (Inches)</label>
            <input asp-for="DisplaySizeInch" class="form-control" />
            <span asp-validation-for="DisplaySizeInch" class="text-danger"></span>
        </div>
        <div class="col-md-3 form-group">
            <label asp-for="Resolution" class="control-label"></label>
            <select asp-for="Resolution" class="form-control dropdown-toggle col-lg-12" asp-items="Html.GetEnumSelectList<Resolution>()">
                <option selected="selected" value="">Please select</option>
            </select>
            <span asp-validation-for="Resolution" class="text-danger"></span>
        </div>
        <div class="col-md-3 form-group">
            <label asp-for="Battery" class="control-label"></label>
            <input asp-for="Battery" class="form-control" />
            <span asp-validation-for="Battery" class="text-danger"></span>
        </div>
        <div class="col-md-3 form-group">
            <label asp-for="IsBluetooth" class="control-label">Bluetooth</label>
            <br />
            <label asp-for="IsBluetooth" class="control-label">Yes</label>
            <input type="radio" asp-for="IsBluetooth" value="true" />
            <br />
            <label asp-for="IsBluetooth" class="control-label">No</label>
            <input type="radio" asp-for="IsBluetooth" value="false" />
            <span asp-validation-for="IsBluetooth" class="text-danger"></span>
        </div>
        <div class="col-md-3 form-group">
            <label asp-for="MobileOs" class="control-label"></label>
            <select asp-for="MobileOs" class="form-control dropdown-toggle col-lg-12" asp-items="Html.GetEnumSelectList<MobileOs>()">
                <option selected="selected" value="">Please select</option>
            </select>
            <span asp-validation-for="MobileOs" class="text-danger"></span>
        </div>
    </div>
    <div class="form-group text-center">
        <input type="submit" value="Add Tablet" class="btn btn-outline-primary" />
    </div>
</form>


