@model WashingMachineBindingModel
@using TechCatalogAdminPanel.Models.Enums

<h1 class="text-center display-4">New Washing Machine</h1>
<br />
<hr />
<form asp-action="AddWashingMachine" asp-controller="Device">
    <div class="container">
        <div class="row">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="col-sm form-group" align="center">
                <label asp-for="Brand" class="control-label"></label>
                <input asp-for="Brand" class="form-control" />
                <span asp-validation-for="Brand" class="text-danger"></span>
            </div>
            <div class="col-sm form-group" align="center">
                <label asp-for="DeviceModel" class="control-label">Model</label>
                <input asp-for="DeviceModel" class="form-control" />
                <span asp-validation-for="DeviceModel" class="text-danger"></span>
            </div>
            <div class="col-sm form-group" align="center">
                <label asp-for="Color" class="control-label"></label>
                <input asp-for="Color" class="form-control" />
                <span asp-validation-for="Color" class="text-danger"></span>
            </div>

            <div class="col-sm form-group" align="center">
                <label asp-for="Image" class="control-label"></label>
                <input asp-for="Image" class="form-control" />
                <span asp-validation-for="Image" class="text-danger"></span>
            </div>
            <div class="col-sm form-group" align="center">
                <label asp-for="Weight" class="control-label"></label>
                <input asp-for="Weight" class="form-control" />
                <span asp-validation-for="Weight" class="text-danger"></span>
            </div>


            <div class="col-sm form-group" align="center">
                <label asp-for="Warranty" class="control-label"></label>
                <input asp-for="Warranty" class="form-control" />
                <span asp-validation-for="Warranty" class="text-danger"></span>
            </div>

            <div class="col-sm form-group" align="center">
                <label asp-for="Price" class="control-label"></label>
                <input asp-for="Price" class="form-control" />
                <span asp-validation-for="Price" class="text-danger"></span>
            </div>
        </div>
    </div>

    <br />
    <hr />
    <h3 class="text-center">Other Specifications</h3>
    <br />
    <div align="center">
        <div class="col-md-3 form-group">
            <label asp-for="EnergyClass" class="control-label">Energy Class</label>
            <select asp-for="EnergyClass" class="form-control dropdown-toggle col-lg-12" asp-items="Html.GetEnumSelectList<EnergyClass>()">
                <option selected="selected" value="">Please select</option>
            </select>
            <span asp-validation-for="EnergyClass" class="text-danger"></span>
        </div>
        <div class="col-md-3 form-group">
            <label asp-for="Height" class="control-label"></label>
            <input asp-for="Height" class="form-control" />
            <span asp-validation-for="Height" class="text-danger"></span>
        </div>
        <div class="col-md-3 form-group">
            <label asp-for="Width" class="control-label"></label>
            <input asp-for="Width" class="form-control" />
            <span asp-validation-for="Width" class="text-danger"></span>
        </div>
        <div class="col-md-3 form-group">
            <label asp-for="Depth" class="control-label"></label>
            <input asp-for="Depth" class="form-control" />
            <span asp-validation-for="Depth" class="text-danger"></span>
        </div>
        <div class="col-md-3 form-group">
            <label asp-for="WashingCapacity" class="control-label">Washing Capacity</label>
            <input asp-for="WashingCapacity" class="form-control" />
            <span asp-validation-for="WashingCapacity" class="text-danger"></span>
        </div>
        <div class="col-md-3 form-group">
            <label asp-for="EnergyConsumption" class="control-label">Energy Consumption</label>
            <input asp-for="EnergyConsumption" class="form-control" />
            <span asp-validation-for="EnergyConsumption" class="text-danger"></span>
        </div>
        <div class="col-md-3 form-group">
            <label asp-for="WaterConsumption" class="control-label">Water Consumption</label>
            <input asp-for="WaterConsumption" class="form-control" />
            <span asp-validation-for="WaterConsumption" class="text-danger"></span>
        </div>
        <div class="col-md-3 form-group">
            <label asp-for="IsDisplay" class="control-label">Display</label>
            <br />
            <label asp-for="IsDisplay" class="control-label">Yes</label>
            <input type="radio" asp-for="IsDisplay" value="true" />
            <br />
            <label asp-for="IsDisplay" class="control-label">No</label>
            <input type="radio" asp-for="IsDisplay" value="false" />
            <br />
            <span asp-validation-for="IsDisplay" class="text-danger"></span>
        </div>
        <div class="col-md-3 form-group">
            <label asp-for="ProgrammesNumber" class="control-label">Programmes Number</label>
            <input asp-for="ProgrammesNumber" class="form-control" />
            <span asp-validation-for="ProgrammesNumber" class="text-danger"></span>
        </div>
        <div class="col-md-3 form-group">
            <label asp-for="IsWoolProgram" class="control-label">Wool Program</label>
            <br />
            <label asp-for="IsWoolProgram" class="control-label">Yes</label>
            <input type="radio" asp-for="IsWoolProgram" value="true" />
            <br />
            <label asp-for="IsWoolProgram" class="control-label">No</label>
            <input type="radio" asp-for="IsWoolProgram" value="false" />
            <br />
            <span asp-validation-for="IsWoolProgram" class="text-danger"></span>
        </div>
        <div class="col-md-3 form-group">
            <label asp-for="IsQuickWash" class="control-label">Quick Wash</label>
            <br />
            <label asp-for="IsQuickWash" class="control-label">Yes</label>
            <input type="radio" asp-for="IsQuickWash" value="true" />
            <br />
            <label asp-for="IsQuickWash" class="control-label">No</label>
            <input type="radio" asp-for="IsQuickWash" value="false" />
            <br />
            <span asp-validation-for="IsQuickWash" class="text-danger"></span>
        </div>
    </div>
    <div class="form-group text-center">
        <input type="submit" value="Add Washing Machine" class="btn btn-outline-primary" />
    </div>
</form>

